.canvas-container {
  width: 800px;
  height: 600px;
  position: relative;
  user-select: none;
  position: relative;
  border: 1px solid black;
}

.canvas {
  cursor: default !important;
  width: 100%;
}

.close {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 5px;
}

.text-song {
  border-bottom: 1px solid black;
}
